body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center; /* Adiciona alinhamento central */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Adiciona alinhamento central */
}

input[type="text"], input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    width: 100%; /* Adiciona largura total */
    box-sizing: border-box; /* Adiciona largura total */
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Adiciona largura total */
    box-sizing: border-box; /* Adiciona largura total */
}

button:hover {
    background-color: #45a049;
}
