img {
    width: 150px; /* ou qualquer valor desejado */
    height: auto; /* Isso mantém a proporção da imagem */
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px; 
    display: inline-block;
    vertical-align: top;
}

.card h2 {
    margin-bottom: 8px;
}

.card p {
    margin-bottom: 5px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

/* Limpeza de estilos padrão do navegador */
body {
    margin: 0;
    padding: 0;
}
