<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/sessoes.css">
  <title>Novidades</title>
</head>
<body>

  <section class="novidades">
    <div class="card">
      <img src="static/imagens/basicos1.jpg" alt="Novidade 1">
      <h3>Descrição da Novidade 1</h3>
    </div>

    <div class="card">
      <img src="static/imagens/basicos2.jpg" alt="Novidade 2">
      <h3>Descrição da Novidade 2</h3>
    </div>

    <div class="card">
      <img src="static/imagens/basicos3.jpg" alt="Novidade 3">
      <h3>Descrição da Novidade 3</h3>
    </div>
    <!-- Adicione mais cards conforme necessário -->
  </section>

</body>
</html>
