<!-- pesquisa.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/pesquisa.css">
    <title>Pesquisa</title>
</head>
<body>
    <h1>Resultados da Pesquisa</h1>
<div class="card">
    {% for produto in resultados %}
        <h2>{{ produto[1] }}</h2>
        <p>{{ produto[2] }}</p>
        <p>Valor: {{ produto[4] }}</p>
        <p>Tamanhos: {{ produto[5] }}</p>

        {% if produto[6] %}
            <img src="{{ produto[6] }}" alt="{{ produto[1] }}">
        {% else %}
            <p>Nenhuma imagem disponível.</p>
        {% endif %}
        <br><button class="adicionar-ao-carrinho" data-produto-id="{{ produto[0] }}">Adicionar ao Carrinho</button>
        <hr>
    {% endfor %}
</div>
    <script>
        document.querySelectorAll('.adicionar-ao-carrinho').forEach(function(btn) {
            btn.addEventListener('click', function() {
                var produtoId = btn.getAttribute('data-produto-id');
                adicionarAoCarrinho(produtoId);
            });
        });

        function adicionarAoCarrinho(produtoId) {
            fetch('/adicionar_ao_carrinho', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    produto_id: produtoId,
                    quantidade: 1
                }),
            })
            .then(response => response.json())
            .then(data => {
                // Lógica para manipular a resposta do servidor, se necessário
                console.log('Item adicionado ao carrinho:', data);
                // Atualize a interface do usuário para refletir a adição ao carrinho
            })
            .catch((error) => {
                console.error('Erro ao adicionar ao carrinho:', error);
            });
        }
    </script>
</body>
</html>
