<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/principal.css">
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>AtemporalBrand</title>

</head>
<body>
    <header>
        <div class="menu">
            <div class="left-side-menu">
                <div class="logo">
                    <img src="static/imagens/logo1.png" alt="">
                </div>
            </div>

            <div class="search-bar">
                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Search">
                    <!--<button type="submit">Search</button>-->
                </form>
            </div>
            
            <!--<script>
                // Adicionado script para lidar com o envio do formulário de pesquisa
                document.getElementById('search-form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    const searchTerm = document.getElementById('search-input').value;
            
                    // Redireciona para a página de resultados de pesquisa
                    window.location.href = '/pesquisar?q=' + searchTerm;
                });
            </script>-->

            <!--{% if 'clienteid' in session %}-->
                <!-- Se o usuário estiver logado, exiba a mensagem de boas-vindas e o nome -->
                <p>Bem-vindo, {{ user_info }}! <a href="login.html">Sair</a></p>
            <!--{% else %}-->
                <!-- Se o usuário não estiver logado, exiba o link de login ou cadastro -->
                <p><a href="login.html">Faça login ou cadastre-se</a></p>
            <!--{% endif %}-->

            <div class="right-side-menu">
                <a href="login.html" class="conta"><img src="static/imagens/icons8-conta-24.png" alt=""></a>
                <a href="carrinho.html"><img src="static/imagens/icons8-carrinho-32.png" alt=""></a>
            </div>

        </div>
        <div class="line"></div>
    </header>

    <div class="fotos">
        <div>
            <a href=""><img src="static/imagens/novidades.jpg" alt=""></a>
            <p>Novidades</p>
        </div>
        <div>
            <a href=""><img src="static/imagens/feminino.jpg" alt=""></a>
            <p>Feminino</p>
        </div>
        <div>
            <a href=""><img src="static/imagens/basicos.jpg" alt=""></a>
            <p>Básicos</p>
        </div>
        <div>
            <a href=""><img src="static/imagens/masculino.jpg" alt=""></a>
            <p>Masculino</p>
        </div>
        <div>
            <a href=""><img src="static/imagens/jeans.jpg" alt=""></a>
            <p>Jeans</p>
        </div>
        <div>
            <a href=""><img src="static/imagens/maisvendidos.webp" alt=""></a>
            <p>Mais vendidos</p>
        </div>
    </div>
    
    <div class="carrossel-container">
        <div class="carrossel">
            <div class="carrossel-slide">
                <img src="static/imagens/imagemPrincipal.png" alt="Imagem 1">
            </div>
            <div class="carrossel-slide">
                <img src="static/imagens/imagemPrincipal2.webp" alt="Imagem 2">
            </div>
            <div class="carrossel-slide">
                <img src="static/imagens/imagemPrincipal3.jpg" alt="Imagem 3">
            </div>
            <div class="carrossel-slide">
                <img src="static/imagens/imagemPrincipal4.jpg" alt="Imagem 3">
            </div>
        </div>
    </div>

    <div class="feminino">
        <div class="menuFeminino">
            <a href=""><img src="static/imagens/feminino1.jpg" alt=""><br><p>Calça feminina wide leg <h4>R$ 179,90</h4></p><br></a>
            <a href=""><img src="static/imagens/feminino2.jpg" alt=""><br><p>Macacão feminino em lamê plissado com <br>decote v prata</p><h4>R$ 129,90</h4></a>
            <a href=""><img src="static/imagens/feminino3.jpg" alt=""><br><p>Vestido curto amplo brilhante com <br>amarração prata</p><h4>R$ 129,90</h4></a>
            <a href=""><img src="static/imagens/feminino4.jpg" alt=""><br><p>Vestido midi evasê com bolso nas laterais <br> lilás</p><h4>R$ 179,90</h4></a>
            <a href=""><img src="static/imagens/feminino5.jpg" alt=""><br><p>Vestido longo evasê com bolso bege</p><h4>R$ 159,90</h4></a>
            <a href=""><img src="static/imagens/feminino6.jpg" alt=""><br><p>Vestido jeans curto tubinho denim médio</p><h4>R$ 199,90</h4></a>
            <a href=""><img src="static/imagens/feminino7.jpg" alt=""><br><p>Camiseta feminina canelada branca</p><h4>R$ 69,90</h4></a>
            <a href=""><img src="static/imagens/feminino8.jpg" alt=""><br><p>Blusa cropped manga curta lisa - Rosa</p><h4>R$ 59,90</h4></a>
        </div>
    </div>

    <div class="masculino">
        <div class="menuMasculino">
            <a href=""><img src="static/imagens/masculino1.jpg" alt=""><br><p>Camisa polo masculina manga curta - <br> Vermelho <h4>R$ 59,90</h4></p></a>
            <a href=""><img src="static/imagens/masculino2.jpg" alt=""><br><p>Camiseta masculina relaxed texturizada <br> preta <h4>R$ 39,90</h4></p></a>
            <a href=""><img src="static/imagens/masculino3.jpg" alt=""><br><p>Camiseta masculina regular âncora verde</p> <h4>R$ 59,90</h4></a>
            <a href=""><img src="static/imagens/masculino4.jpg" alt=""><br><p>Calça jeans masculina jogger com cordão <br> denim médio <h4>R$ 119,90</h4></p></a>
            <a href=""><img src="static/imagens/masculino5.jpg" alt=""><br><p>Calça jeans masculina jogger com cordão <br> denim claro <h4>R$ 139,90</h4></p></a>
            <a href=""><img src="static/imagens/masculino6.jpg" alt=""><br><p>Calça esportiva masculina CBV azul <h4>R$ 179,90</h4></p></a>
            <a href=""><img src="static/imagens/masculino7.jpg" alt=""><br><p>Regata esportiva masculina flamê verde <h4>R$ 39,90</h4></p></a>
            <a href=""><img src="static/imagens/masculino8.jpg" alt=""><br><p>Blazer masculino slim alfaiatado com <br> ombreiras azul <h4>R$ 299,90</h4></p></a>
        </div>
    </div>
    <section class="contact">
        <div class="contact-info">
            <div class="first-info">
                <img src="static/imagens/logo.png" alt="">
                <p>fkldjlskflkslkfçkgçllsk glkskfgsçlkd</p>
                <p>094359309458</p>
                <p>AtemporalBrand@gmail.com</p>
    
                <div class="social-icon">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>
    
            <div class="second-info">
                <div class="column">
                    <h4>Support</h4>
                    <p>Contact us</p>
                    <p>About page</p>
                    <p>Size Guide</p>
                    <p>Shopping & Returns</p>
                    <p>Privacy</p>
                </div>
            </div>
    
            <div class="third-info">
                <div class="column">
                    <h4>Shop</h4>
                    <p>Men's Shopping</p>
                    <p>Women's Shopping</p>
                    <p>Kid's Shopping</p>
                    <p>Furniture</p>
                    <p>Discount</p>
                </div>
            </div>
    
            <div class="fourth-info">
                <div class="column">
                    <h4>Company</h4>
                    <p>About</p>
                    <p>Blog</p>
                    <p>Affiliate</p>
                    <p>Login</p>
                </div>
            </div>
    
            <div class="five">
                <h4>Subscribe</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
            </div>
        </div>
    </section>
    <div class="end-text">
        <p>Copyright @ 2022. All Rights Resaerved. Designd By AtemporalBrand</p>
    </div>

</body>
</html>